@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 7 31 19;
    --background: 242 252 247;
    --primary: 51 207 128;
    --secondary: 150 227 230;
    --accent: 94 189 217;

    --radius: 0.5rem;
  }
  .dark {
    --text: 226 248 237;
    --background: 3 12 8;
    --primary: 47 202 125;
    --secondary: 24 101 103;
    --accent: 38 132 161;

    --radius: 0.5rem;
  }
}
